<h1>Welcome to Rock-Paper-Scissors!</h1>

<h2>Rules</h2>
<ul>
  <li>Rock beats Scissors</li>
  <li>Scissors beats Paper</li>
  <li>Paper beats Rock</li>
</ul>

<h2>Play the Game</h2>
<a href="/rock">Play Rock</a>
<a href="/paper">Play Paper</a>
<a href="/scissors">Play Scissors</a>

<% if @message %>
  <p><%= @message %></p>
<% end %>
